html{
    background-color: black;
    color: gray;
}
body{
    margin: 0;
}
#Function{
    background: gray;
    color: black;
    position: fixed;
    text-align: center;
    top: 50vh;
    width: 100%;
}
#Function>div{
    padding: 10px 0;
    border: 1px solid;
}
.Title{
    text-align: center;
}
#Content{
    line-height: 2rem;
}